.categories-wrapper {
    h3 {
        color: theme-color("font-color");
        margin-bottom: $provider-margin-bottom;
    }
    .categories-container {
        .category-list {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            height: auto;
            padding-left: 0;
            .single-category {
                list-style-type: none;
                margin-right: $category-margin-right;
                a {
                    text-decoration: none;
                    color: theme-color("cat-color");
                    display: inline-block;
                    position: relative;

                    .svg-wrapper {
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        text-align: center;
                        padding: $provider-margin-right;
                        background: theme-color("svg-bg");
                        border-radius: $provider-border-radius;

                        svg {
                            font-size: $font-size-xxlg;
                        }
                    }

                    .category-info {
                        font-size: 0.6875rem;
                        text-align: center;
                        margin-top: $category-margin-top;
                    }
                }
            }
        }
    }
}