.footer {
    max-width: 1240px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: theme-color("font-color");
    font-size: 0.875rem;

    .footer-info {
        flex: 1;

        &:not(:first-of-type) {
            padding-left: 4rem;
        }
        &:first-of-type {
            flex-grow: 2;
        }

        &:last-of-type {
            flex-grow: 3;
        }
        .social-links {
            a {
                display: inline-block;
                background-color: rgb(49, 55, 63);
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
                line-height: 0;
                cursor: pointer;
                border-color: rgb(53, 60, 68);
                padding: 0.5rem;
                border-style: solid;
                border-width: 1px;
                border-radius: 6.25rem;
            }
        }

        a {
            text-decoration: none;
            color: rgba(color-yiq(theme-color("section-bg")), .7);
        }

        p {
            color: rgba(color-yiq(theme-color("section-bg")), .7);
        }
        ul {
            padding-left: 0;
            li {
                list-style: none;
            }
        }
    }

    .footer-list {
        border-top: 1px solid rgb(49, 55, 63);
        width: 100%;
        justify-content: space-around;
        padding-left: 0;
        li {
            list-style-type: none;

            a {
                img {
                    width: 3rem;
                }
            }
        }
    }
}