.header-wrapper {
    justify-content: space-between;
    .header-logos {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        .logo-container {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            flex-basis: 9.625rem;
            padding: 0px $provider-margin-right;
            min-width: 156px;

            // &:first-child {
                border-right: 1px solid theme-color("link-color");
            // }

            a {
                display: flex;
                text-decoration: none;
                svg {
                    width: auto;
                    flex-shrink: 0;
                }
                
                span {
                    margin-left: $font-size-mlg;
                    font-size: $font-size-sm;
                    line-height: $font-size-mlg;
                    color: theme-color("cat-color");
                }
            }
        }
    }
    .login-wrapper {
        .btn {
            font-size: $font-size-mlg;
            min-width: 133px;
            line-height: $header-line-height;
            text-decoration: none;
            border-radius: 6.25rem;
            padding: $font-size-sm 2.5rem;
            color: theme-color("font-color");
        }

        .signIn {
            background-color: theme-color("link-color");
            margin-right: $provider-margin-right;
        }

        .registerBtn {
            background-color: rgb(12, 214, 100);
        }
    }
}