.header-wrapper {
    justify-content: space-between;
    .header-logos {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        .logo-container {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            flex-basis: 9.625rem;
            padding: 0px 1rem;
            min-width: 156px;

            // &:first-child {
                border-right: 1px solid rgb(49, 55, 63);
            // }

            a {
                display: flex;
                text-decoration: none;
                svg {
                    width: auto;
                    flex-shrink: 0;
                }
                
                span {
                    margin-left: 1rem;
                    font-size: 0.75rem;
                    line-height: 1rem;
                    color: rgb(134, 151, 162);
                }
            }
        }
    }
    .login-wrapper {
        .btn {
            font-size: 1rem;
            min-width: 133px;
            line-height: 1.0625rem;
            text-decoration: none;
            border-radius: 6.25rem;
            padding: 0.75rem 2.5rem;
            color: theme-color("font-color");
        }

        .signIn {
            background-color: rgb(49, 55, 63);
            margin-right: 1rem;
        }

        .registerBtn {
            background-color: rgb(12, 214, 100);
        }
    }
}