.providers-wrapper {
    padding-bottom: 0.25rem;
    margin-bottom: $provider-margin-bottom;
    border-bottom: 1px solid theme-color("link-color");

    h3 {
        color: theme-color("font-color");
        margin-bottom: $provider-margin-bottom;
    }
    .providers-container {
        .providers-list {
            align-items: stretch;
            padding-left: 0;
            overflow-x: auto;
            overflow-y: hidden;
            .single-provider {
                list-style-type: none;
                margin-right: $provider-margin-right;
                background-color: #31373f;
                border-radius: 4px;
                a {
                    height: 3.75rem;
                    width: 14.5rem;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    padding: $provider-margin-right;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: $provider-border-radius;
                        margin-right: $provider-margin-right;
                    }
                }
            }
        }
    }
}